!!! html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    title shib - Query your Hive!
    link(type="text/css", href="/css/redmond/jquery-ui-1.8.13.custom.css", rel="stylesheet")
    link(type="text/css", href="/css/ui.dynatree.css", rel="stylesheet")
    link(type="text/css", href="/css/shib.css", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Artifika:regular", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic", rel="stylesheet")
    script(type="text/javascript", src="/js/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/js/jquery-ui-1.8.13.custom.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(type="text/javascript", src="/js/jquery.dynatree.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript", src="/js/shib.js")
  body
    div(style="display: none;")
      input#detailcontrol(type="hidden", name="detailcontrol", value="#{control}")
    #titlearea
      #title
        a(href="/") shib
      #subtitle "Shib is a Hive Interface for Beginners"
    #noticearea
      .ui-widget#errorarea(style="display: none;")
        .ui-state-error.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-alert(style="float: left; margin-right: .3em;")
            strong#errortitle Alert
            span#errormessage(style="margin-left: .7em;") Error Message
      .ui-widget#infoarea(style="display: none;")
        .ui-state-highlight.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-info(style="float: left; margin-right: .3em;")
            strong#infotitle TITLE
            span#infomessage(style="margin-left: .7em;") Highlighted Message
    #resultdiag(title="show result", style="display:none;")
      pre#resultdisplay
    #tablesdiag(title="tables status", style="display:none;")
      if defaultdb
        select#table_dbname(style="width: 300;")
          for name in databases
            if defaultdb === name
              option(selected=true)= name
            else
              option= name
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #tables(style="display: none;")
    #describediag(title="table schema", style="display:none;")
      if defaultdb
        select#desc_dbname(style="width: 300;")
          for name in databases
            if defaultdb === name
              option(selected=true)= name
            else
              option= name
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #describes
    #detailstatusdiag(title="query status", style="display:none;")
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #detailstatus(style="display: none;")
    #mainarea
      table
        tr
          td#mainviewcell
            #mainview
              #tablesbox.ui-corner-all
                ul.operationitems.ui-widget.ui-helper-clearfix
                  li#tables_diag.ui-state-default.ui-corner-all(title="show tables dialog")
                    span.ui-icon.ui-icon-info
                    | show tables and partitions
                  li#describe_diag.ui-state-default.ui-corner-all(title="show table schema")
                    span.ui-icon.ui-icon-info
                    | show table schemas
              #querybox
                textarea#queryeditor(rows="10")
              #editbox.ui-corner-all
                ul.operationitems.ui-widget.ui-helper-clearfix
                  li#new_button.ui-state-default.ui-corner-all
                    span.ui-icon.ui-icon-document
                    | new query
                  li#copy_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-copy
                    | copy to new query
                ul.operationitems.ui-widget.ui-helper-clearfix
                  li#execute_button.ui-state-default.ui-corner-all
                    span.ui-icon.ui-icon-play
                    | execute
                  li#giveup_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-pause
                    | give up
                  li#status_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-search
                    | status
                  li#delete_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-trash
                    | delete
                  li#display_full_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-newwin
                    | show full
                  li#display_head_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-newwin
                    | show head
                  li#download_tsv_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-arrowthickstop-1-s
                    | tsv
                  li#download_csv_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-arrowthickstop-1-s
                    | csv
                #statusview
                  span
                    | Query Status:
                    span#querystatus.status_not_executed not executed
                #queryresult(style="display: none;")
                  div
                    | Result:
                    span#queryresultlines 0 lines, 
                    span#queryresultbytes 0 bytes
                  div#queryresultelapsed
                  div#queryresultschema
          td#tabviewcell
            #tabview
              #listSelector
                ul
                  li#index-yours
                    a(href="#tab-yours") yours
                  li#index-history
                    a(href="#tab-history") history
                #tab-yours
                #tab-history
  #runningarea
    #runnings.ui-corner-all
      div no running queries
  #creditarea
      #credits
        | shib by tagomoris
